.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.konten {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  min-height: 85vh;
}

.searchContainer {
  width: 100%;
  max-width: 600px;
}

.orderContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  /* min-height: 80vh; */
}

.orderCard {
  width: 100%;

  max-width: 300px;
  margin: 5px;
}
