@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-mdj014 {
  background-color: #f59e0b;
}

.mantine-c94evu {
  background-color: white;
}

.mantine-483mqf {
  background-color: #ef4444;
}

.map-container {
  width: 100%;
  height: 90vh;
}

.leaflet-container {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  max-height: 700px;
}
